@charset "UTF-8";
/*
Theme Name: Keepin - ConsentiDog
Theme URI: https://www.keepin.com.ve/
Author: Team Keepin
Author URI: https://www.keepin.com.ve
Description: Primera versión del tema para la Web de ConsentiDog. Uso exclusivo de ConsentiDog
Version: 0.0.1 
Text Domain: Keepin
WordPress Available:  yes

Naranja: e95231  -e95132
Gris oscuro: 312b29
*/

/** Definición de fuentes locales **/
@font-face {
    font-family: 'Conv_SimplyCriket';
    src: url('fonts/SimplyCricket/SimplyCricket-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Conv_SimplyCriketDemiBold';
    src: url('fonts/SimplyCricket/SimplyCricket-Demibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Conv_SimplyCriketBold';
    src: url('fonts/SimplyCricket/SimplyCricket-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Conv_SimplyCriketMedium';
    src: url('fonts/SimplyCricket/SimplyCricket-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Conv_SimplyCriketBook';
    src: url('fonts/SimplyCricket/SimplyCricket-Book.ttf') format('truetype');
}


/* Bootstrp definitions*/
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #e95231;
    border-color: #e95231;
}


* {
    font-family: "Conv_SimplyCriket", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

body {
    font-size: 13.5pt;
    color: #201716;
    /*background-color: white;*/
    background-color: rgb(252, 252, 252);
}

a {
    text-decoration-color: #e95132 !important; 
    color:#e95132;
}

a:hover{
    color: white;
}

b {
    font-family: 'Conv_SimplyCriketBold';
}

h1, .h1{
    font-size: 2em;
}

h2, .h2{
    font-size: 1.7em;
}

h3, .h3{
    font-size: 1.5em;
}

h4, .h4{
    font-size: 1.2em;
    font-family: 'Conv_SimplyCriketBold';
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 5px;
}

input::placeholder { 
    font-size: 0.9em; 
    font-style: italic;
}

.text-secondary{
    color:#cccccc !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
}

::-webkit-input-placeholder { /* Edge */
    color: #b0b0b0;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b0b0b0;
}
  
::placeholder {
    color: #b0b0b0;
}

input:focus { 
    outline: none;
  }

.modal{
    background-color: rgba(0 , 0, 0, 0.8);
    /*z-index: 300 !important;
    border: thin solid violet !important;
    background-color: green;*/
}

.modal-body{
    background-color: rgb(230, 230, 230) !important;
}

/* Comportamiento responsive básicos */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    h1, .h1{
        font-size: 1.7em;
    }
    
    h2, .h2{
        font-size: 1.5em;
    }
    
    h3, .h3{
        font-size: 1.3em;
    }
    
    h4, .h4{
        font-size: 1em;
    }

}




/****************************************** HEADER ***
******************************************************/
.header{
    /*border: thin solid yellow;*/
    /*height: 113px;
    /*position: fixed;*/
    /*position: relative;
    display: block;*/
    width: 100%;
    top: 0px;
    /*border: thin solid violet;
   /* z-index: 10000 !important;*/
   background-color:#eae7e5 !important;/*rgba(255 , 255, 255, 0.5);*/
}

.subheader {
    height: 80px;
    background-color:#eae7e5;/*rgba(255 , 255, 255, 0.5);*/
}


.imglogo{
    width: 337px;
   /*border: thin solid yellow;*/
}

.buscador_txt{
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
    border-radius: 1rem;
    border: thin solid white;
    padding-top:5px;
}

/* Comportamiento responsive HEADER */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .imglogo{
        width: 50vw !important;
    }

    .subheader {
        height: 10vh !important;
    }
}


/** Menu header **/
.area-menu{
    margin: 0px;
    padding: 0px;
    height: 33px;
    /*width: 100%;*/
    background-color: white;/*rgba(255 , 255, 255, 0.7);*/
    border-bottom: solid thin #c8c6c5;
}
.header-menu {
    margin: 0px;
    padding: 0px;
    top: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
}
.header-menu li{
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Conv_SimplyCriketBook';
    font-size: 0.8em;

    background-image: url("../theme_web_consentidog/img/lineadiv_menu.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-menu a{
    text-decoration: none;
    color: #201716;
    
}
.header-menu a:hover{
    color:#e95132;

}

.current-menu-item .nav-link{
    color:#e95132 !important;
    text-decoration: underline;
    text-decoration-color: #e95132 !important;
}

.buscador_txt{
    background-image: url("../theme_web_consentidog/img/lupa.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.telf-header {
    font-size: 0.6em !important;
}


.navbar-toggler{
    border: thin solid rgb(150,150,150,1);
}
.navbar-toggler-icon {
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(150,150,150, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Comportamiento responsive HEADER-MENU */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .header-menu li{
        background-image: none;
        border-bottom: thin solid rgb(150,150,150,5);
    }
}

/*** Contenedor de contenido central BODY ***
********************************************/
.cont-central{
    padding: 0px;
    margin: 0px;
    border: thin solid grey;
}

#outer_slidehome{
    display: block;
    position: relative;
    height: 70vh !important;
    min-height: 600px !important;
}

#carruselHome{
    position: relative;
}
.carousel-item{
    min-height: 600px !important;
    height: 70vh !important;
    background-position: center;
    background-size: cover;
}


/*** HOME - FORMULARIO ***
***********************/

.outer-form{
    position: absolute;
    min-height: 300px;
}

.area-form{
    position: relative;
    min-height: 300px;
}

.bg-form-reserva-home{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    border: thin solid grey;
}


.btn-light{
    border: thin solid lightgrey;
    border-radius: 0.5em;
}


/* Comportamiento responsive CONTENT CENTRAL BODY y HOME - FORMULARIO*** */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    

    #outer_slidehome{
        min-height: 0px !important;
    }
    /*.carousel-item{
        min-height: 0px !important;
    }*/

    .carousel-item{
        min-height: 30vh !important;
    }

    .bg-form-reserva-home{
        background-color: rgba(255, 255, 255, 0.7) !important;
        
    }

    .area-form{
        min-height: 450px !important;
        display: block !important;
    }

    .bg-form-reserva-home{
        border: none;
        background-color: #eae7e5;
    }
}


/*************** MENSAJE GRACIAS RESERVA
***************/
.imggracias{
    min-height: 400px;
    height: 40vh;
}



    /*******HOME - EDUCA******
    **************************/
.contenedor-educa{
    background-color:#eae7e5;
    height: 60vh !important;
}
.area-tit-educa{
    height: 20% !important;
}
.titulo-educadog{
    font-family: 'Conv_SimplyCriketMedium';
    font-size: 24.5pt;
    color:#e95231 !important;
}
.titulo_educa {
    color: #201716;
    font-family: 'Conv_SimplyCriketDemiBold';
    font-size: 1.1em;
    font-weight: bold;
}
.titulo_educa:hover{
    color: #201716;
    font-weight: bolder;
}
.area-cont-educa{
    height: 80% !important;
}

.link_educa{
    background-color: rgba(255 , 255, 255, 0.7);
    max-height: 100%;
}
.extracto-educa{
    
    font-weight: 600 !important;
    font-family: 'Conv_SimplyCriketMedium';
    font-size: 2.1vh !important;
}

.extracto-educa p{
    font-weight: bold !important;
    max-height: 100%;
}
.area-btn-educa{
    height: 15%;
}
.btn-masinfo{
    width: 40%;
    font-weight: light !important;
}

.more-link{
    width: 40%;
    font-weight: light !important;
    color:#e95231 !important;
}
/* Comportamiento responsive ******* HOME - EDUCA ********* */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    
    .contenedor-educa{
        display: block;
        min-height: 140vh !important;
    }
    .area-tit-educa{
        max-height: 10vh !important;
        /*background-color: lime;*/
    }
    .titulo-educadog{
        font-size: 0.9em;
    }

    .titulo_educa {
        font-size: 0.8em;
    }

    .area-cont-educa{
        height: 95% !important;
    }

    .extracto-educa{
        font-size: 2.1vh !important;
    }

}



    /*******HOME - CITA******* #e5e5e5
    **************************/
.contenedor-cita{
    background-color: white;
}
.citahome{
    font-size: 72.5pt;
    line-height: 1.1em;
    color: #5F5F5F;
}
.citaautor{
    font-family: 'Conv_SimplyCriketMedium';
    font-size: 16pt;
    float: right;
    margin-bottom: 2%;
    color: #cccccc;
}


    
/******* HOME - SERVICIOS ******
********************************/

.link_servicios{
    background: white;
    float: left;
    border-bottom: 3px solid #e95132;
    margin-bottom: 15px !important;
    
}
.titulo_servicios {
    background-color: lightyellow;
    color: #e95132;
}
.miniatura_servicios{
    background-position: right;
    height:60vh;
    background-size: cover;
    
    /*border:thin solid red;*/
}

.outer_titulo_educa{
        height: 10vh;
    }
/* Comportamiento responsive ******* HOME - SERVICIOS ********* */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    
    .titulo_servicios{
        font-size: 2vh;
    }

    .miniatura_servicios{
        background-position: right;
        font-size: 2vh;
        height:30vh;
    }

    
    
}




    /*******HOME - BLOG*******
    **************************/
.contenedor-blogHome{
    background-color: white;
    width: 100%;
    /*padding-left: % !important;
    padding-right: 10% !important;*/
}
.link_blog{
    float: left;
    text-align: center;
    /*width: 33%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;*/
    background-color:white;
}
.custom-tituloblog{
    font-size: 1.5em;
    color: #e95132;
    background-color:white;
    height: 122px !important;
}
.miniatura_blog{
    background-position: center;
}
.titulo-blog {
    background: rgba(0, 0, 0, 0.65) !important;
}
.titulo_blog{
    text-decoration: none !important;
}

.cont_pag_numbers a:hover{
    color: #312b29;
}

    /*******HOME - FOOTER*******
    **************************/
.contenedor-footer{
    background-color: #312b29;
    color: white;
}
.contenido-footer{
    /*text-align: center;
    padding: 8% 5% 2% 5%;*/
    font-family: 'Conv_SimplyCriketBook';
    font-size: 14.5pt;
}
.info-contacto{
    text-transform: uppercase;
    font-family: 'Conv_SimplyCriketBook';
    font-size: 0.9em;
    border-color: #161413 !important;
}
.texto-footer{
    font-family: 'Conv_SimplyCriketBook';
    font-size: 0.8em;
    /*color: #7c7c7c !important;*/
}
.texto-footer a{
    font-family: 'Conv_SimplyCriketBook';
    font-size: 0.8em;
    /*color: #161413 !important;*/
}
.copy-footer{
    font-family: 'Conv_SimplyCriketBook';
    font-size: 0.7em;
    color: #161413 !important;
}
/* Comportamiento responsive ******* HOME - SERVICIOS ********* */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .contenido-footer{
        font-size: 8.5pt !important;
    }
    .info-contacto{
        border: none !important;
    }
}


/** FOOTER menu **/
/*.area-menu{
    margin: 0px;
    padding: 0px;
    height: 33px;
    background-color: white;
    border-bottom: solid thin #c8c6c5;
}*/

.footer-menu {
    text-align: center;
    height: 25px !important;
    /*position: absolute;*/
}
.footer-menu li{
    /*padding-left: 5%;
    padding-right: 5%;*/
    display: inline-block;
    text-transform: none !important;
    font-family: 'Conv_SimplyCriketBook';
    font-size: 0.8em;

    /*background-image: url("../theme_web_consentidog/img/lineadiv_menu.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;*/
}
.footer-menu a{
    text-decoration: none;
    color: #201716;
    
}
.footer-menu a:hover{
    color:#e95132;

}
/*
.current-menu-item .nav-link{
    color:#e95132 !important;
    text-decoration: underline;
    text-decoration-color: #e95132 !important;
}
*/


/* Comportamiento responsive HEADER-MENU */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .footer-menu li{
        background-image: none;
        /*border-bottom: thin solid rgb(150,150,150,5);*/
    }
}





    /**********************************************************
    ************CONTENEDOR GENERAL PARA PAGES - DEFAULT*********/
    /*Título*/
.titulo-pages{
    color: #E5E5E5;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
}
/***CUSTOM TITULO****/
.custom-titulo{
    text-align: center;
    font-size: 26px;
    color: #e95132;
}
/*Contenido*/
.contenedor-contenido{
    text-align: justify;
    background: rgba(229, 229, 229, 0.9);

}
       
        /*********** INTERNAS ***********
        ****************************/
.contenedor-general-internas{
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply !important;
}

.area-tit-internas{
    /*height: 15%;*/
    background: rgba(233, 81, 50, 0.9);

}
.titulo-interna{
    font-family: 'Conv_SimplyCriketMedium';
    font-size: 21.5pt;
    height: 100%;
    color: #fff !important; /* 312b29*/
}

        /*********** BLOG ***********
        ****************************/
.contenedor-blog{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
}
.listas-blog{
    width: 100%;
    display: inline-block;
}
.link-entradablog{
    display: inline-block;
    /*width: 30%;*/
    border: thin solid black;
    text-align: center;
    /*margin: 10px;*/
}
.titulo-entradablog{
    font-size: 18px;
}
.extracto-blog{
    width: 100%;
    text-align: justify;
}
.enlace-blog{
    text-decoration-color: #e95132;
}
.contenidoInter-blog{
    background: rgba(0, 0, 0, 0.65) !important;
    color: #E5E5E5;
    min-height: 110px !important;
}


        /*********** SERVICIOS ***********
        *********************************/
.btnservicios{ 
    margin: 30px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 1.2em;
    height: 40px;
    width: 150px;
}
.cont{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.contenedor-servicios{
    background: rgba(229, 229, 229, 0.5);
    /*margin: 50px 5px 5px 5px;*/
}
.contenido-servicios{
    padding-right: 200px !important;
    padding-left: 200px !important;
}
.titulo-servicios{
    margin-top: 20px;
}
.titulo-entradaservicios{
    font-family: 'Conv_SimplyCriketMedium';
    font-size: 21.5pt;
    color: #201716;
}
.titulo-entradaservicios:hover{
    text-decoration: none;
    color: #333131;
}

        /*********** CONTACTANOS FORM ***********
        ****************************************/
.contenedor-contenidoform{
    text-align: center;
    background: rgba(229, 229, 229, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.titulo-pagesform{
    margin-top: 80px;
    padding-top: 60px;
    font-size: 26px;
    text-align: center;
    color: #201716;
}
.wpcf7-form{
    margin-top: 20px;
    padding: 30px 0px 30px 0px;
}
.wpcf7-text {
    width: 600px;
    height: 40px;
    padding: 0px;
    margin: 0px;
} 
.wpcf7-textarea {
    width: 600px;
    height: 160px;;
}
.wpcf7-text::placeholder{
    text-align: center;
    font-size: 14px;
}
.wpcf7-textarea::placeholder{
    text-align: center;
    line-height: 140px;
    font-size: 14px;
}
.wpcf7-submit {
    bottom: 0px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 1.2em;
    height: 40px;
    width: 150px;
}
.wpcf7-form label{
    padding: 0px;
    margin: -10px;
}

.slider {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
.fondo-slider{
    height: 900px;
}
        /***BUSQUEDA***/
.contenedor-general-buqueda{
    padding-top: 150px !important;
}
.titulo-busq{
    text-align: center !important;
    background: rgba(0, 0, 0, 0.65) !important;
}
.nav-next a{
    color:#e95231;
}
.nav-previous a{
    color:#e95231;
}